aiohttp==3.8.1
pymongo[srv]==3.12.3
motor==2.5.1
Pyrogram==2.0.30
TgCrypto==1.2.3
PyBypass==2.0.1
mdisky
shortzy
aiofiles
validators
uvloop 
opencv-python-headless==4.7.0.68
python-dotenv==0.21.1
humanize==4.6.0 
Pillow==9.4.0 
pyshorteners
apscheduler
jinja2
colorama
git+https://github.com/Joelkb/cinemagoer 
 shortzy 
 datetime 
 pytz 
 aiohttp

#---master---# 
 #Telethroid==0.0.10 
 PyLeaves==1.0.2 
requests
aiohttp
aiofiles
pyromod
